body{
    margin: 0;
    padding: 0;
    background-color: grey;
}

.container{
    background-color: white;
    height: 960px;
    width: 960px;
    display: grid;
}

.grid-item{
    background-color: white;
}

.grid-item:hover{
    background-color: #EEEEEE;
}